body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 1.375rem;
  font-weight: 700;
}

h2 {
  font-size: 1.125rem;
  font-weight: 700;
}

.selection-title {
  font-size: 1rem;
  font-weight: 400;
}

.generic-text {
  font-size: .875rem;
  font-weight: 300;
}

.info-text {
  font-size: 1.125rem;
  font-weight: 300; 
}