$color-white: #fff;
$color-black: #404040;
$color-disabled: #9ba5a7;
$color-background: #f4f7f9;
$color-accent: #404ced;
$color-accent-2: #32c964;
$color-warning: #ff3454;
$color-secondary: #7b8c90;
$color-shadow: #dfe3e9;
$color-dropdown: #ededed;
$color-dropdown-seen: #f3f3f3;
$color-board-header: #fafbfc;
$color-modal-bg: rgba(0,0,0,0.8);

$border: 1px solid $color-shadow;
